<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Anasayfa</title>
    <script th:src="@{/js/form.js}"></script>

</head>
    <body>

        <div id="login" >
            <form name='form-signup' th:action="@{/login/processform}" th:object="${user}" method="post">

                <input type="text" placeholder="Mail" th:field="*{mail}"/>
                <p class="alert alert-danger" th:errors="*{mail}"></p>

                <input type="password" placeholder="Şifre" th:field="*{password}"/>
                <p class="alert alert-danger2" th:errors="*{password}"></p>
                <p th:text="${non_exist_mail}"></p>

                <input type="submit" value="Login"/>
            </form>
        </div>

        <div id="question-list">
            <table align="center">
                <th:block th:each="question : ${questionList}" >
                    <tr>
                        <td th:text="${question.title}"></td>
                    </tr>
                    <tr>
                        <td th:text="${question.content}"></td>
                    </tr>
                </th:block>
            </table>
        </div>

    </body>
</html>