<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8"/>
        <title>Profil</title>
        <script th:src="@{/js/form.js}"></script>

    </head>
    <body>
        Hoş Geldiniz <p th:text="${user.username}"></p>
        Soru Hakkınız:<p th:text="${user.questionStatus}"></p>

        <div id="ask-form" >
            <form name='form-ask' th:action="@{/profile/ask}" th:object="${question}" method="post">

                <input type="text" placeholder="Soru Başlığı" th:field="*{title}"/>

                <input type="text" placeholder="Soru İçeriği" th:field="*{content}"/>

                <p th:text="${question_right}"></p>

              <!-- <input type = "hidden"  th:field="*{userId}" />  session olusturulacak-->

                <input type="submit" value="Sor"/>
            </form>
        </div>

    </body>
</html>